/screenmatch/nbproject/private/
/screenmatch/build/
/FogeMouse/nbproject/private/
/FogeMouse/build/
/ArrastaImagem/nbproject/private/
/ArrastaImagem/build/
/ArrastaImagem/dist/
/PassaroSimulado/nbproject/private/
/PesoPlanetas2/nbproject/private/
/PesoPlanetas2/build/
/PesoPlanetas2/dist/
/compras/nbproject/private/
/compras/build/
/compras/dist/
